.footer{
    width: 100vw;

    .attribution {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        bottom: 1rem;
        color: white;
        font-size: 22px;
        /* unvisited link */
        a:link {
        color: red;
        }
    
        /* visited link */
        a:visited {
        color: lightgreen;
        }
    
    /* mouse over link */
    a:hover {
      color: hotpink;
    }
    
    /* selected link */
    a:active {
      color: green;
    }
      }

    

    button{
        position: absolute;
        bottom: 1rem;
        padding: 7px 25px;
        right: 1rem;
        border-radius: .4rem;
        border: 3px solid $header-outline;
        color: lighten($header-outline,20%);
        background: none;
        font-weight: 600;
        letter-spacing: 2px;

        &:hover{
            a:link {
                color: white;
    
            
                /* visited link */
                a:visited {
                color: white;
                }
            
            /* mouse over link */
            a:hover {
              color: rgb(238, 255, 0);
            }
            
            /* selected link */
            a:active {
              color: green;
            }
        }
        }
    }
}