.sliderinput{
  .slider-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
  }
  
  .slider {
    appearance: none;  /* Override default CSS styles */
    width: 100%;
    height: 15px;
    margin-bottom: 10px;
    border-radius: 6px;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }
  
  
  .input-group {
    display: flex;
    align-items: center;
    
  }
  
  .input-box {
    width: 150px;
    height: 40px; 
    line-height: 15px;
    margin: 20px 15px 5px 2px;
    border-radius: 6px;
    text-align: center;
    text-decoration: solid;
    font-weight:bold;
    font-size: 18px;
  }
  
  .submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 20px 0px 5px 2px;
    border-radius: 6px;
    height: 40px;
    font-weight:bold;
    font-size: 18px;
    text-transform: uppercase;
  }

  .slidertext {
    color: white;
    font-size: 22px;
    /* unvisited link */
    a:link {
    color: red;
    }

    /* visited link */
    a:visited {
    color: lightgreen;
    }

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: green;
}
  }

}